li {
     display:inline;
   }
ul {
     margin: 0px;
     padding: 0px;
}

#logo {
	clear: both;
	background-image: url("logo.PNG");
	background-repeat: no-repeat;
	position:fixed;
	left:0;
	top:0;
}	
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-color: #4B6C8E;
}
#banner {
  clear: both;
  background-image: url("background.jpg");
  height: 404px;
  background-size: cover;
  width: 960px;
  background-repeat: no-repeat;
  color: white;
  font-size: 18px;
  line-height: 25px;
}
#banner h1 {
  font-family: Verdana;
  text-align:center;
  margin: 0px;
  padding: 0px;
}
#header {
  text-align:center;
  background-color: black;
  height: 70px;
  line-height: 70px;
}
#menu {
  position:fixed;
  background-color:black;
  width: 200px;
  float: right;
  top:0;
  right:0;
  padding:0px;
}

#menu {
border-left: 1px solid black;
height: 100%;
}

#menu a {
  color: white;
  font-size: 150%;
}

#logo {
  size: 50%;
  float: left;
}
#logo h1 {
 padding: 0px;
  margin: 0px;
}
#feature1, #feature2, #feature3 {
  float: left;
  width: 320px;

}
#banner img {
  width: 100%;
}
#footer {
  background-color: #0B0D25;
  color: white;
  clear: both;
}

